<div>
  <h3>Language detection</h3>
  <div class="form-group">
    <input [(ngModel)]="cleanOptionEnabled" class="form-check-input" type="checkbox" value="" id="cleanCheckbox">
    <label class="form-check-label" for="cleanCheckbox">
      Clean (optional)
    </label>
  </div>
  <form [formGroup]="detectionForm" (submit)="detectLanguages()" class="mb-5">
    <div class="form-group">
      <label for="text">Text</label>
      <textarea class="form-control" id="text" placeholder="Enter your text" rows="4" [formControlName]="'text'"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>The detected languages are:</p>
  <div *ngFor="let lang of resultArray; let i = index;" class="mb-2">
    <p>{{ i+1 }}. <b>{{ lang.lang }}</b> with confidence of <b>{{ (lang.confidence*100).toFixed(2) }}%</b>.</p>
  </div>
</div>
